# Environment
NODE_ENV=development

# Server Configuration
HOST=localhost
PORT=9000

# MongoDB Configuration
MONGO_USER=admin
MONGO_DB_NAME=cp_multisig
MONGO_PASSWORD=
MONGO_HOST=localhost
MONGO_PORT=27017

# JWT Configuration
JWT_TOKEN_SECRET=CpMultiSig@2025

# JSON Configuration
JSON_EXPIRED_TIME=30d

# Admin Account Configuration
ADMIN_PRIVATE_KEY=
ADMIN_PUBLIC_KEY=
ADMIN_ACCOUNT_ID=

# Wallet Configuration
WALLET_SIGN_MESSAGE=Sign ColorPool MultiSig